#customhighlightbutton{
    position: absolute;
    z-index: 100;
    display: none;
	cursor: pointer !important;
	width: 24px !important;
	height: 24px !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}